.MovieCardSmall {
  .img {
    height: 15rem;
    width: 10rem;
    border-radius: 0.5rem;
    overflow: hidden;
    border: none;
    outline: none;
    margin-bottom: 0.3rem;
    object-fit: cover;
  }
}

@media (max-width: 769px) {
  .MovieCardSmall {
    .img {
      height: 10rem;
      width: 7rem;
    }
  }
}
