.HomeListAll {
  .HomeListSection {
    display: flex;
    margin: 1rem 0.5rem;
    margin-bottom: 2rem;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    gap: 1.2rem;
    .loading {
      height: 15rem;
      width: 10rem;
    }
  }
}

@media (max-width: 769px) {
  .HomeListAll {
    .HomeListSection {
      .loading {
        height: 10rem;
        width: 7rem;
      }
    }
  }
}
