.Home {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 4.5rem;
}

@media (max-width: 769px) {
  .Home {
    padding-left: unset;
    padding: 0 1rem;
    padding-bottom: 2.7rem;
  }
}
