.settingsPage {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 5rem;
  // font-size: 1.2rem;
  h4 {
    color: var(--primary-2);
  }
  .highlight {
    color: var(--primary-3);
  }
  .logo {
    width: clamp(20rem, calc(100vw - 2rem), 40rem);
    position: absolute;
    right: 0;
    color: var(--primary-2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
      width: 20rem;
    }
    p {
      position: relative;
      top: -5rem;
    }
  }
  .settings {
    max-height: 100%;
    width: clamp(20rem, calc(100vw - 2rem), 35rem);
    // background: red;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 4rem;
    .group {
      width: 100%;
      margin: 1rem 0 3rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--primary-2);
        select {
          width: clamp(12rem, 50%, 20rem);
          padding: 1rem 2rem;
          // background: var(--primary-1);
          background: var(--bg-color);
          color: var(--primary-3);
          outline: none;
          border: 1px solid var(--primary-2);
          border-radius: 0.5rem;
          margin: 0rem 0;
          // span{
          //   height: 5rem !important;
          //   width: 5rem !important;
          //   display: block;
          // }
          // &[selected="true"]{
          //   color: var(--ascent-color);
          // }
        }
      }
      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        display: flex;
        width: 7rem;
      }
      .logout {
        color: var(--primary-2);
        cursor: pointer;
        width: 7rem;
      }
      .downloadButton {
        width: clamp(12rem, 50%, 20rem);
        padding: 1rem 2rem;
        // background: var(--primary-1);
        background: var(--bg-color);
        color: var(--primary-3);
        outline: none;
        border: 1px solid var(--primary-2);
        border-radius: 0.5rem;
        margin: 0rem 0;
        text-align: center;
        cursor: pointer;
      }
    }
    .group2 {
      @extend .group;
      color: var(--primary-2);
      input,
      select,
      button {
        padding: 0.5rem 1rem;
        outline: none;
        border: 1px solid var(--primary-2);
        border-radius: 0.5rem;
        width: clamp(12rem, 50%, 20rem);
        background: var(--primary-1);
        color: var(--primary-3);
        cursor: pointer;
      }
    }
    .profileCard {
      position: absolute;
      right: 0;
      width: clamp(12rem, 50%, 20rem);
      padding: 1rem 2rem;
      // background: var(--primary-1);
      background: var(--bg-color);
      color: var(--primary-3);
      outline: none;
      border: 1px solid var(--primary-2);
      border-radius: 0.5rem;
      // margin: 1rem 0;
      span {
        color: var(--ascent-color);
      }
    }
  }
}

.authPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.signin {
  cursor: pointer;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid var(--primary-2);
  border-radius: 0.5rem;
  width: clamp(12rem, 50%, 20rem);
  background: var(--primary-1);
  color: var(--primary-3);
  cursor: pointer;
  margin: 1rem 0 3rem 1rem;
}

.errorData {
  width: clamp(20rem, calc(100vw - 2rem), 40rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // margin: 7rem 0;
  h1 {
    font-size: clamp(2rem, 50vw, 3.5rem);
  }
  p,
  summary {
    color: var(--primary-3);
  }
  h4 {
    color: var(--primary-3);
    margin-top: 1rem;
  }
}

.hide {
  display: none;
}

@media (max-width: 1200px) {
  .settingsPage {
    // min-height: 100vh;
    height: auto;
    position: relative;
    top: -2rem;
    .logo {
      width: clamp(20rem, calc(100vw - 2rem), 40rem);
      position: unset;
      right: 0;
      color: var(--primary-2);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      // margin-bottom: 2rem;
      img {
        width: 20rem;
      }
    }
  }
}
@media (max-width: 769px) {
  .settingsPage {
    padding-left: unset;
    padding: 0 1rem;
    padding-bottom: 2.7rem;
    overflow-x: hidden;
    .settings {
      height: 100%;
      width: clamp(20rem, calc(100vw - 2rem), 40rem);
      // background: red;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 0;
      padding-right: 1rem;
      position: relative;
      top: -2rem;
      padding-bottom: 0;
    }
  }
  .errorData {
    margin: 7rem 0;
  }
}
