.carousel_images,
.carousel_images .img,
.carousel_images .img span {
  height: var(--carousel-desktop-height);
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  margin: auto;
  overflow: hidden;
  border-radius: 0 0 2rem 2rem;
  // background-attachment: fixed;
}
.carousel_images img {
  width: 100%;
  height: 100%;
  object-position: top;
  // object-fit: cover;
  object-fit: var((--carousel-object-fit));
  border-radius: 0 0 2rem 2rem;
  transition: opacity 2s ease;
  border: none;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
  display: none;
}
.left,
.right {
  font-size: 1.5rem;
  color: var(--ascent-color);
  z-index: 3;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.loading {
  opacity: 0 !important;
}
.loaded {
  opacity: 1 !important;
}
@media (max-width: 769px) {
  .carousel_images,
  .carousel_images .img,
  .carousel_images .img span {
    height: var(--carousel-mobile-height);
  }
}
