.MetaDetailPage {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  // background: var(--primary-1);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .MetaDetails {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background: var(--primary-1);
    padding: 1rem;
    overflow: auto;
    position: relative;
    padding-top: 0;
    .category {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      // margin: 1rem 0;
      position: sticky;
      top: 0;
      left: 0;
      background: var(--primary-1);
      padding: 1rem 0;
      margin-bottom: 1rem;
      border-bottom: 1px solid var(--primary-2);
      z-index: 2;
    }
    h3,
    h4 {
      color: var(--primary-3);
      margin: 2rem 0 0.3rem 0;
    }
    p {
      color: var(--primary-2);
    }
    .casts {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
      .header {
        width: 100%;
        // margin-top: 0;
      }
      .cast {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        gap: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        h4 {
          margin: 0;
        }
      }
    }
    .img {
      width: 4rem !important;
      height: 6rem;
      object-fit: cover;
      border-radius: 0.5rem;
    }
    .MovieList,
    .ReviewList,
    .EpisodeList {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      .Review {
        padding: 1rem;
        background: var(--bg-color);
        max-height: 20rem;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.2s ease;
        margin: 0 auto;
        h4 {
          margin-top: 0;
        }
        .rating {
          color: var(--primary-3);
          margin-bottom: 1rem;
        }
      }
      .ReviewDetail {
        height: unset;
        max-height: unset !important;
      }
    }
    .EpisodeList {
      gap: 0.1rem;
      select {
        width: clamp(15rem, 50vw, 20rem);
        padding: 1rem 2rem;
        background: var(--bg-color);
        color: var(--primary-3);
        outline: none;
        border: 1px solid var(--primary-2);
        border-radius: 0.5rem;
        margin: 1rem auto;
        // &[selected="true"]{
        //   color: var(--ascent-color);
        // }
      }

      .episode {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 1rem 0;
        padding: 1rem;
        background: var(--bg-color);
        max-height: 12rem;
        overflow: hidden;
        cursor: pointer;
        gap: 0.5rem;
        border-radius: 0.5rem;
        h4 {
          margin-top: 0;
        }
        .img {
          height: 10rem !important;
          width: 10rem !important;
          object-fit: cover;
        }
        .details {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          .links {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
  .pagination {
    list-style: none;
    // height: 31.5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    cursor: pointer;
    gap: 0.5rem;
    font-size: 1.2rem;
    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: var(--primary-2);
    }
  }
  .page_item {
    list-style: none;
    padding: 2px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.inactive {
  cursor: pointer;
  color: var(--primary-2);
  fill: var(--primary-2);
}

.active {
  cursor: pointer;
  color: var(--ascent-color) !important;
  fill: var(--ascent-color) !important;
}

.paginateActive {
  background-color: var(--ascent-color);
  border-radius: 0.5rem;
  color: var(--primary-1);
  a {
    color: var(--primary-1);
  }
}
.disabled {
  svg {
    opacity: 0.5 !important;
    fill: var(--ascent-color);
  }
}
.notAired {
  opacity: 0.7;
}
.notAiredTag {
  color: var(--primary-3);
}

@media (max-width: 769px) {
  .MetaDetailPage {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--primary-1);
    border-radius: 1rem;
    .MetaDetails {
      position: relative;
      padding-top: 4rem;
      min-height: 50vh;
      .category {
        position: absolute;
        top: -0.5rem;
        left: 0;
        justify-content: space-around;
      }
      .img {
        width: 3rem !important;
        height: 4.5rem !important;
      }
      .MovieList,
      .ReviewList {
        .Review {
          max-height: 15rem;
          .rating {
            margin-bottom: 0.5rem;
          }
        }
        .ReviewDetail {
          height: unset;
          max-height: unset;
        }
      }
    }
    .EpisodeList {
      .episode {
        display: block !important;
        width: 100%;
        .img,
        .CardSmall {
          height: 8rem !important;
          width: 7rem !important;
          display: inline-block;
        }
        .details {
          margin-top: 1rem;
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
    }
  }
}
